@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #efefef;
}

body {
  background-color: var(--bg-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
